*{
    margin: 0; 
    padding: 0; 
}

body {
    background-image: url(./img/calBackground.jpg); 
    background-size: cover; 
}

.calContainer{
    width: 241px;
    height: 330px;
    margin: auto;
    margin-top: 50px; 
}

.resultText {
    width: 240px; 
    height: 50px;
    border: none; 
    border-radius: 10px; 
    border-bottom: solid 1px darkslateblue;
    background-color: whitesmoke;
    position: relative; 
    margin-bottom: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 5px; 
    text-align: right;
    outline: none; 
}

.button {
    width: 50px; 
    height: 50px; 
    border-radius: 10px;  
    border: none;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    margin-right: 10px;
    margin-bottom: 10px;  
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    cursor: pointer;
    opacity: 75%; 
}

.button:hover {
    background-color: white;
    border-left: solid 1px blue; 
    border-bottom: solid 1px blue;
    opacity: 100%; 
}

.button:active{
    opacity: 35%;  
}

.blank {
    width: 50px; 
    height: 25px; 
    margin-bottom: 10px; 
    opacity: 40%; 
    background-color: purple; 
    border: none;
}

.blank:hover {
    opacity: 40%; 
    background-color: purple;
    border: none;
    cursor: default;
}

.topRow {
    height: 25px; 
    border-radius: 5px;
}

.ce {
    background-color: orangered;
}

.ce:hover{
    background-color: orange;
    opacity: 100%; 
}

.ce:active {
    background-color: white;
}

.del {
    background-color: orangered;
}

.del:hover{
    background-color: orange;
    opacity: 100%; 
}

.del:active {
    background-color: white;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic; 
    color: white; 
    text-decoration: underline;
    position: relative;
    margin-bottom: 10px; 
}

.oh {
    font-weight: bolder;
    color: orangered;
}

.zero {
    width: 110px;
}

.equals {
    background-color: lightblue; 
}

.equals:hover {
    background-color: white;
    opacity: 100%;
}

.equals:active {
    opacity: 35%; 
}

